<%= form_with(model: datum, local: true) do |form| %>
  <% if datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(datum.errors.count, "error") %> prohibited this datum from being saved:</h2>

      <ul>
      <% datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :id %><br>
    <%= form.text_field :id %>
  </div>
  <div class="field">
    <%= form.label :alias %><br>
    <%= form.text_field :alias %>
  </div>
  <div class="field">
    <%= form.label :voltage %><br>
    <%= form.text_field :voltage %>
  </div>
  <div class="field">
    <%= form.label :percentage %><br>
    <%= form.text_field :percentage %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
